---
layout: default
title: Tagged
---

{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<div class="home">
	<section class="site-header">
		<h1 class="smallcap"><a class="site-title" href="{{ site.baseurl }}">{{ site.title }}</a></h1>
		<p>All tagged posts will be sorted here.</p>
	</section>

	<section>
		{% for tag in tags %}
		<h3 class="tag-title" id="{{ tag | slugify }}"># {{ tag }}</h3>
		<ul class="post-list">
			{% for post in site.posts %}
	    {% if post.tags contains tag %}
			<li>
				<a href="{{ post.url }}">{{ post.title }}</a> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
			</li>
			{% endif %}
	    {% endfor %}
		</ul>
		{% endfor %}
	</section>

</div>
