<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-content">
      {{ content }}
      <div class="copyright">
        <p>&copy; {{ site.time | date: '%Y' }} <a href="/" title="{{ site.description }}"><strong>{{ site.title }}</strong></a> ― <i>Made with</i> ๑ <a href="http://github.com/heiswayi/textlog" title="a minimalist Jekyll theme for documentation"><i>Textlog.</i></a></p>
      </div>
    </div>
    {% include google_analytics.html %}
  </body>
</html>
